<template name="add_feed_form">
  {{#if Template.subscriptionsReady}}
  <br>
  <div class="container">
    {{#autoForm collection=cameraHelper id="create_stream" type="insert"}}
      <p>Enter feed URL</p>
      {{> afQuickField name='url'}}
      <p>Name the feed</p>
      {{> afQuickField name='title'}}
      <p>Add tag</p>
      {{> afQuickField name='categories' label=' ' options=categoryHelper}}
      <br>
      <p>Favorite</p>
      {{> afQuickField name='favorite' label=' ' type='switch'}}
      <br>
      <br>
      <br>
      <br>
      <button type="submit" class="submitButton btn waves-effect waves-light">Insert</button>
      {{> notifications }}
    {{/autoForm}}
  </div>
  {{/if}}
</template>
