<template name="saved_image_cards">
  {{#if Template.subscriptionsReady}}
  {{#each Cameras_retrieval}}
    <div class="container">
          <div class="card">
            <div class="card-image">
              <img class="responsive-img" src={{url}}>

            </div>
            <div class="card-content">
              <p>{{timestamp}}</p>
              <br>
              <p>{{title}}</p>
            </div>
            <div class="card-action">
              <a href={{url}}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;View Image</a>
            </div>
          </div>
        </div>
    {{/each}}
    {{/if}}
</template>
